@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600&display=swap");

body {
  margin: 0;
  font-family: Dosis;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: Dosis;
  text-decoration: none;
}
